<!--
/**
 *
 * @author  Sergio David Romero Maldonado <sergiorom92@gmail.com>
            Oscar Answer <answersublime@gmail.com>
 */
 -->
<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row text-center>
      <ion-col col-1></ion-col>
      <ion-col col-10>
        <form [formGroup]="loginForm">
          <input formControlName="email" id="e-mail" type="email" placeholder="email" />
          <input formControlName="password" id="password" type="password" placeholder="password" />
          <ion-label (click)="forgotPassword()">
            <p>Forgot my password</p>
          </ion-label>
          <ion-row>
            <ion-col col-3></ion-col>
            <ion-col col-6>
              <button ion-button block id="signUp" (click)="signin()" [disabled]="!loginForm.valid" color="cta">Log In</button>
            </ion-col>
            <ion-col col-3></ion-col>
          </ion-row>
        </form>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>