/**
 * @author  Sergio David Romero Maldonado <sergiorom92@gmail.com>
 */
page-login {
  .grid {
    margin-top: 15%;

    form {
      input {
        width: 90%;
        border: none;
        border-bottom: 1px #D9D9D9 solid;
        margin: 25px 0;
        font-weight: 300;
        font-size: 15px;
      }

      button {
        background-color: #06998f;
      }

      ion-label {
        p {
          font-size: 11px;
        }
      }

      .button {
        margin-top: 50px;
      }

      .button-ios {
        border-radius: 12px;
        font-weight: 500;
      }

      .button-md,
      .button-wp {
        border-radius: 50px;
        font-weight: 500;
      }
    }
  }
}
