<!--
  Generated template for the BeaconConfigMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Beacon Settings Menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-label color="main">Settings</ion-label>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-label>Listening to:</ion-label>
        <ion-select color="main" [(ngModel)]="beaconKind">
          <ion-option color="main" value="all" default>All Beacons</ion-option>
          <ion-option color="main" value="iBeacon">iBeacons</ion-option>
          <ion-option color="main" value="eddystone">EddyStone</ion-option>
          <ion-option color="main" value="wifi">Wifi</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        Period
        <ion-badge item-end color="main">{{period}}</ion-badge>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-range min="20" max="20000" [(ngModel)]="period" color="main">
          <ion-label range-left>20</ion-label>
          <ion-label range-right>20000</ion-label>
        </ion-range>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-10 class=" buttonCol ">
        <button ion-button class="menuButton" (click)="save()">Save</button>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>