/**
 *
 * @author Sergio David Romero Maldonado <sergiorom92@gmail.com>
 */
 
page-home {
  .buttonCol {
    text-align: center;
  }
  .menuButton{
      min-width: 80%;
      background-color: #06998f;
      border-radius: 50px;
  }
  #USALogo{
    min-width: 80%;
  }

}
