<!--
   @author  Sergio David Romero Maldonado <sergiorom92@gmail.com>
 -->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      App for the blind (Hybrid)
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        This is an App for helping the blind people.
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-10>
        <img src="assets/imgs/LogoUSA.jpg" id="USALogo" />
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-10 class="buttonCol">
        <button ion-button class="menuButton" (click)="openBeacons()">Beacon Detector</button>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-10 class=" buttonCol ">
        <button ion-button class="menuButton" (click)="openImu()">Imu</button>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-10 class="buttonCol">
        <button ion-button class="menuButton" (click)="openMap()">Map</button>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
      </ion-col>
      <ion-col col-2 class="buttonCol">
        <button ion-button class="menuButton" (click)="logOut()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
