<!--
   @author  Sergio David Romero Maldonado <sergiorom92@gmail.com>
 -->
<ion-header>

  <ion-navbar>
    <ion-title>imu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-label color="main">Giroscope</ion-label>
  </ion-row>
  <ion-row>
    <ion-col>
      Current X: {{girX}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Current Y: {{girY}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Current Z: {{girZ}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Variation X: {{girAltX -girX}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Variation Y: {{girAltY - girY}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Variation Z: {{girAltZ - girZ}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-label color="main">Accelerometer</ion-label>
  </ion-row>
  <ion-row>
    <ion-col>
      Current X: {{accX}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Current Y: {{accY}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Current Z: {{accZ}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Variation X: {{accAltX - accX}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Variation Y: {{accAltY - accY}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Variation Z: {{accAltZ - accZ}}
    </ion-col>
  </ion-row>

</ion-content>
