<!--
   @author  Sergio David Romero Maldonado <sergiorom92@gmail.com>
 -->
<ion-header>

  <ion-navbar>
    <ion-title>Beacon Detector</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="openConfig()" color="main">
          <ion-icon name="settings"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-label color="main">Settings</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>Listening to:</ion-label>
      <ion-label *ngIf="beaconKind == 'all'">All Beacons</ion-label>
      <ion-label *ngIf="beaconKind == 'iBeacon'">iBeacons</ion-label>
      <ion-label *ngIf="beaconKind == 'eddystone'">Eddystone Beacons</ion-label>
      <ion-label *ngIf="beaconKind == 'wifi'">Wifi Beacons</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>Period:</ion-label>
      <ion-label>{{beaconTime}} milliseconds</ion-label>
    </ion-row>
    <ion-row *ngIf="beaconKind == 'all' || beaconKind == 'iBeacon'">
      <ion-label color="main">iBeacons</ion-label>
    </ion-row>
    <ion-row *ngIf="beaconKind == 'all' || beaconKind == 'iBeacon'">
      <ion-list>
        <ion-item *ngFor='let beacon of beacons'>
          <ion-grid>
            <ion-row>
              <ion-col>UUID</ion-col>
              <ion-col>{{beacon.uuid}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Major</ion-col>
              <ion-col>{{beacon.major}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Minor</ion-col>
              <ion-col>{{beacon.minor}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>RSSI</ion-col>
              <ion-col>{{beacon.rssi}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Proximity</ion-col>
              <ion-col>{{beacon.beacon.proximity}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Accuracy</ion-col>
              <ion-col>{{beacon.beacon.accuracy}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Tx</ion-col>
              <ion-col>{{beacon.beacon.tx}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-row>
    <ion-row *ngIf="beaconKind == 'all' || beaconKind == 'eddystone'">
      <ion-label color="main">Eddystone Beacons</ion-label>
    </ion-row>
    <ion-row *ngIf="beaconKind == 'all' || beaconKind == 'eddystone'">
      <ion-list>
        <ion-item *ngFor='let beacon of beaconsEddystone'>
          <ion-grid>
            <ion-row>
              <ion-col>UUID</ion-col>
              <ion-col>{{beacon.uuid}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Major</ion-col>
              <ion-col>{{beacon.major}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Minor</ion-col>
              <ion-col>{{beacon.minor}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>RSSI</ion-col>
              <ion-col>{{beacon.rssi}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Proximity</ion-col>
              <ion-col>{{beacon.beacon.proximity}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Accuracy</ion-col>
              <ion-col>{{beacon.beacon.accuracy}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Tx</ion-col>
              <ion-col>{{beacon.beacon.tx}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-row>
    <ion-row *ngIf="beaconKind == 'all' || beaconKind == 'wifi'">
      <ion-label color="main">Wifi Beacons</ion-label>
    </ion-row>
    <ion-row *ngIf="beaconKind == 'all' || beaconKind == 'wifi'">
      <ion-list>
        <ion-item *ngFor='let network of networks'>
          <ion-grid>
            <ion-row>
              <ion-col>SSID</ion-col>
              <ion-col>{{network.SSID}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>BSSID</ion-col>
              <ion-col>{{network.BSSID}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Frequency</ion-col>
              <ion-col>{{network.frequency}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Level</ion-col>
              <ion-col>{{network.level}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Timestamp</ion-col>
              <ion-col>{{network.timestamp}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Capabilities</ion-col>
              <ion-col>{{network.capabilities}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>