/**
 *
 * @author Sergio David Romero Maldonado <sergiorom92@gmail.com>
 */

page-map {
  #paramsContainer {
    padding: 5px;
    width: 290px;
    text-align: center;
    margin-bottom: 5px;
  }
  #resultContainer {
    display: none;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 5px;
    text-align: center;
  }
  #resultContainer p {
    margin: 0px;
    padding: 5px;
  }
  #canvasContainer {
    display: inline-block;
  }
  #labyrinthCanvas {
    display: block;
  }
  fieldset {
    display: table;
    border-radius: 3px;
    padding: 5px 0px;
    margin-bottom: 5px;
  }
  fieldset p {
    display: table-row;
    margin-bottom: 5px;
    text-align: left;
  }
  input {
    text-align: right;
    display: table-cell;
    padding: 3px;
  }
  label {
    display: table-cell;
    font-size: .9em;
    padding: 5px 3px;
  }
  #generateBtn {
    width: 98%;
  }
  .menuButton {
    min-width: 80%;
    background-color: #06998f;
    border-radius: 50px;
  }
}
