<!--
   @author  Sergio David Romero Maldonado <sergiorom92@gmail.com>
 -->
<ion-header>
  <ion-navbar>
    <ion-title>Map</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <strong>Dimensiones del Mapa :</strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>Posiciones y</ion-label>
          <ion-input [(ngModel)]="laby" id="labHeight" type="number" min="2" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Posiciones x</ion-label>
          <ion-input [(ngModel)]="labx" id="labWidth" type="number" min="2" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Largo celda</ion-label>
          <ion-input [(ngModel)]="cellX" id="cellWidth" type="number" min="10" value="20"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Ancho celda</ion-label>
          <ion-input [(ngModel)]="cellY" id="cellHeight" type="number" min="10" value="20"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Destino X</ion-label>
          <ion-input [(ngModel)]="destX" id="cellWidth" type="number" min="0"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Destino Y</ion-label>
          <ion-input [(ngModel)]="destY" id="cellHeight" type="number" min="0"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-10>
        <button ion-button class="menuButton" id="generateBtn" (click)="btnClick()">Generar</button>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div id="resultContainer">
          <p id="instructions"></p>
          <div id="canvasContainer" (click)="canvasClick($event)">
            <canvas id="labyrinthCanvas"></canvas>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
